body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
}

header {
    background-color:royalblue;
    color: white;
    text-align: center;
    padding: 20px;
}

.profile-box {
    width: 50%;              
    background-color: white;
    margin: 30px auto;       
    padding: 20px;           
    border: 2px solid white; 
    border-radius: 10px;
    text-align: center;     
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 20%;      
    object-fit: cover;
    margin-bottom: 15px;
}

.student-name {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.student-info {
    font-size: 1.1em;
    margin: 5px 0;
}

.bio {
    margin-top: 15px;
    font-size: 1em;
    line-height: 1.5em;
    padding: 10px;
}

footer {
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
